.menu {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    border-right: 1px gray solid;
}

.content {
    margin-left: 20%;
    padding-left: 20px;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}
