body {
    max-width: 1400px;
}

.menu {
    overflow-x: hidden;
    padding-top: 60px;
    border-right: 1px gray solid;
    width: 30%;
    float: left;
    box-sizing: border-box;
    position: relative;
}

.content {
    padding-left: 20px;
    float: left;
    box-sizing: border-box;
    width: 70%;
    position: relative;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
    text-align: left;
}

.katex-display>.katex {
    text-align: left;
}
